body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.movies-section {
    margin: 20px;
}

.movie {
    margin: 20px;
}

.movie img {
    width: 100px;
    height: 150px;
}